@use '@bad-at-coding/styles/variables/spacing' as spacing;
@use '@bad-at-coding/styles/variables/colors' as colors;
@use '@bad-at-coding/styles/variables/stroke' as stroke;

$grid-padding: calc(spacing.$component-padding-panel * 2);
$grid-width: calc(100vw - $grid-padding);
$grid-height: calc(100vh - $grid-padding);

$total-x-squares: 100;
$total-y-squares: 60;
$column-grid-num: 5;
$row-grid-num: 6;

$square-width: calc($grid-width / $total-x-squares);
$square-height: calc($grid-height / $total-y-squares);
$row-height: calc($grid-height / $row-grid-num);
$row-gap-height: calc($row-height / spacing.$gap-nav-links);

@mixin background-img($color, $stroke) {
  background-image:
    linear-gradient($color $stroke, transparent $stroke),
    linear-gradient(90deg, $color $stroke, transparent $stroke);
}

.cutting-mat {
  position: relative;
  width: 100%;
  height: 100%;

  @include background-img(colors.$color-border-mat, stroke.$line-default);
  background-size: $square-width $square-height;

  border-inline-end: stroke.$line-focus solid colors.$color-border-grid;
  border-block-end: stroke.$line-focus solid colors.$color-border-grid;

  overflow: hidden;
}

.bg-grid {
  position: absolute;
  inset: 0;
  width: 101%;
  height: 101%;

  display: grid;
  grid-template-columns: repeat(auto-fill,
      calc($square-width * $column-grid-num));
  grid-template-rows: repeat(auto-fill, calc($square-height * $row-grid-num));

  @include background-img(colors.$color-border-grid, stroke.$line-focus);
  background-size: calc($square-width * $column-grid-num) calc($square-height * $row-grid-num);

  transition: opacity 0.25s ease;

  &.is-transitioning {
    opacity: 0;
  }
}

.cutting-mat.has-dynamic-grid {
  background-image: none;

  .bg-grid {
    background-image: none;
    grid-template-columns: var(--grid-cols);
    grid-template-rows: var(--grid-rows);
  }

  .grid-cell {
    position: relative;
    box-sizing: border-box;
    border-inline-start: stroke.$line-default solid colors.$color-border-grid;
    border-block-start: stroke.$line-default solid colors.$color-border-grid;
    background-image:
      linear-gradient(colors.$color-border-mat stroke.$line-default,
        transparent stroke.$line-default ),
      linear-gradient(90deg,
        colors.$color-border-mat stroke.$line-default,
        transparent stroke.$line-default );
    background-size: 20% 16.666667%;
  }
}
