@use '@bad-at-coding/styles/variables/colors' as colors;
@use '@bad-at-coding/styles/variables/spacing' as spacing;
@use '@bad-at-coding/styles/variables/stroke' as stroke;
@use '@bad-at-coding/styles/layout/containers';

html,
body {
  background-color: colors.$color-bg-abyss;
}

html {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.container {
  @extend %flex-column;
  gap: spacing.$gap-cards-items;
  margin: stroke.$line-focus;
  overflow: hidden;

  &__title {
    @extend %flex-column;
    gap: spacing.$gap-cards-items;
  }

  &__paragraph {
    overflow: hidden;

    p {
      text-wrap: balance;
    }
  }

  &__content {
    @extend %flex-column;
    height: 100%;
  }
}

.header {
  .nav {
    &__content {
      width: max-content;
      position: relative;
      z-index: 10;
      display: flex;
      gap: spacing.$gap-nav-links;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-inline-end: spacing.$gap-nav-links;
  padding-block-end: spacing.$gap-text-line;
}
