@use '@bad-at-coding/styles/variables/colors' as colors;
@use '@bad-at-coding/styles/variables/spacing' as spacing;

html,
body {
  background-color: colors.$color-bg-abyss;
}

html {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  inset: 0;
  padding: spacing.$component-padding-panel;
}

.header {
  .nav {
    &__content {
      width: max-content;
      position: relative;
      z-index: 10;
      color: colors.$color-text-pure;
      display: flex;
      padding: spacing.$gap-nav-links;
      gap: spacing.$gap-nav-links;
      background-color: colors.$color-bg-surface;
    }
  }
}

.footer {
  color: colors.$color-text-default;
  position: fixed;
  text-align: center;
  width: 100%;
  margin: auto;
  bottom: 0;
}
