@use '@bad-at-coding/styles/variables/colors' as colors;
@use '@bad-at-coding/styles/variables/typography' as typography;
@use '@bad-at-coding/styles/variables/spacing' as spacing;

.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-bg-abyss;

  &__terminal {
    display: flex;
    flex-direction: column;
    gap: spacing.$gap-nav-links;
  }

  &__line {
    opacity: 0;
    transform: translateY(10px);
  }

  &__cursor {
    display: inline-block;
    animation: preloader-blink 1s infinite steps(1);
  }
}

@keyframes preloader-blink {
  50% {
    opacity: 0;
  }
}
