@use '@bad-at-coding/styles/layout/containers';
@use '@bad-at-coding/styles/variables/spacing' as spacing;

.annoy-me {
  &--row-start {
    grid-row-start: 3;
  }

  &--col-start {
    grid-column-start: 2;
  }

  &--row-end {
    grid-row-end: 11;
  }

  &--col-end {
    grid-column-end: 12;
  }

  &__links {
    @extend %flex-column;
    padding: spacing.$component-padding-panel;
    gap: spacing.$gap-cards-items;
    justify-content: flex-end;
    height: 100%;

    .link {
      overflow: hidden;
      display: flex;
      gap: spacing.$gap-nav-links;
    }
  }
}
