@use '@bad-at-coding/styles/variables/spacing' as spacing;
@use '@bad-at-coding/styles/variables/stroke' as stroke;
@use '@bad-at-coding/styles/layout/containers';

.fail-cases {
  &--row-start {
    grid-row-start: 2;
  }

  &--col-start {
    grid-column-start: 2;
  }

  &--row-end {
    grid-row-end: 11;
  }

  &--col-end {
    grid-column-end: 12;
  }


  &__links {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: min-content;
    gap: spacing.$layout-padding-default;

    .link {
      display: flex;
      gap: spacing.$gap-nav-links;

      &__content {
        @extend %flex-column;
        gap: spacing.$gap-text-line;

        .content {
          &__top {
            width: fit-content;

            .top {
              &__url {
                display: flex;
                gap: spacing.$gap-nav-links;
              }
            }
          }

          &__description {
            @extend %flex-column;
            gap: spacing.$gap-text-line;
            text-wrap: balance;
          }
        }
      }
    }
  }
}
