@use '@bad-at-coding/styles/variables/colors' as colors;
@use '@bad-at-coding/styles/variables/stroke' as stroke;
@use '@bad-at-coding/styles/variables/spacing' as spacing;
@use '@bad-at-coding/styles/layout/containers';

.home {
  grid-area: 3 / 2/ 10/ 12;

  &__content {
    justify-content: center;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: spacing.$gap-cards-items;
    justify-content: start;

    .link {
      grid-column: span 3;
      display: grid;
      grid-template-columns: subgrid;

      &:not(:first-child, :last-child, :nth-child(2)) {
        margin-block-start: spacing.$gap-cards-items;
      }

      &__symbol {
        display: flex;
      }

      &__link {
        display: flex;
        gap: spacing.$gap-text-line;
      }
    }
  }
}
