@use '@bad-at-coding/styles/variables/spacing' as spacing;
@use '@bad-at-coding/styles/variables/stroke' as stroke;
@use '@bad-at-coding/styles/layout/containers';

.who-i-am-not {
  &--row-start {
    grid-row-start: 3;
  }

  &--col-start {
    grid-column-start: 10;
  }

  &--row-end {
    grid-row-end: 11;
  }

  &--col-end {
    grid-column-end: 20;
  }

  &__content {

    @extend %flex-column;
    justify-content: space-between;
    height: 100%;

    .content {
      &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: spacing.$gap-cards-items;

        .item {
          display: flex;
          gap: spacing.$gap-nav-links;

          &__content {
            @extend %flex-column;
            gap: spacing.$gap-nav-links;

            p {
              text-wrap: pretty;
            }
          }
        }
      }

      &__footer {
        @extend %flex-column;
        gap: spacing.$gap-nav-links;
      }
    }
  }
}
