@use '@bad-at-coding/styles/variables/colors';
@use '@bad-at-coding/styles/variables/stroke';

.home {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 7;

  background-color: colors.$color-bg-surface;
  border: stroke.$line-focus solid colors.$color-border-grid;
}
