// Primitives - Colors
$color-gray-100: #1a1a1a;
$color-gray-200: #333333;
$color-gray-300: #4d4d4d;
$color-gray-400: #666666;
$color-gray-500: #808080;
$color-gray-600: #999999;
$color-gray-700: #b2b2b2;
$color-gray-800: #cccccc;
$color-gray-900: #e5e5e5;

$color-blue-200: #003466;
$color-blue-300: #004e99;
$color-blue-400: #0068cc;
$color-blue-500: #0083ff;
$color-blue-600: #339bff;
$color-blue-700: #66b4ff;
$color-blue-800: #99cdff;
$color-blue-900: #cce6ff;

$color-red-200: #650108;
$color-red-300: #98010c;
$color-red-400: #ca0210;
$color-red-500: #fd0214;
$color-red-600: #fd3543;
$color-red-700: #fe6772;
$color-red-800: #fe9aa1;
$color-red-900: #ffccd0;

$color-white: #ffffff;
$color-white-opaque-5: #ffffff0d;
$color-white-opaque-10: #ffffff1a;
$color-white-opaque-25: #ffffff40;
$color-white-opaque-50: #ffffff80;
$color-white-opaque-75: #ffffffbf;

$color-black: #000000;
$color-black-opaque-10: #0000001a;
$color-black-opaque-25: #00000040;
$color-black-opaque-50: #00000080;
$color-black-opaque-75: #000000bf;

$color-darkblue: #001529;
$color-darkblue-opaque-10: #0015291a;
$color-darkblue-opaque-25: #00152940;
$color-darkblue-opaque-50: #00152980;
$color-darkblue-opaque-75: #001529bf;

$color-darkred: #330004;
$color-darkred-opaque-10: #3300041a;
$color-darkred-opaque-25: #33000440;
$color-darkred-opaque-50: #33000480;
$color-darkred-opaque-75: #330004bf;

// Primitives - Spacing
$space-0: 0;
$space-1: 1rem; // 4px
$space-2: 2rem; // 8px
$space-3: 3rem; // 12px
$space-4: 4rem; // 16px
$space-5: 5rem; // 20px
$space-6: 6rem; // 24px
$space-7: 7rem; // 28px
$space-8: 8rem; // 32px
$space-9: 9rem; // 36px
$space-10: 10rem; // 40px
$space-11: 11rem; // 44px
$space-12: 12rem; // 48px
$space-13: 13rem; // 52px
$space-14: 14rem; // 56px
$space-15: 15rem; // 60px
$space-16: 16rem; // 64px
$space-17: 17rem; // 68px
$space-18: 18rem; // 72px
$space-19: 19rem; // 76px
$space-20: 20rem; // 80px
$space-21: 21rem; // 84px
$space-22: 22rem; // 88px
$space-23: 23rem; // 92px
$space-24: 24rem; // 96px
$space-25: 25rem; // 100px
$space-26: 26rem; // 104px
$space-27: 27rem; // 108px
$space-28: 28rem; // 112px
$space-29: 29rem; // 116px
$space-30: 30rem; // 120px
$space-31: 31rem; // 124px
$space-32: 32rem; // 128px
$space-33: 33rem; // 132px
$space-34: 34rem; // 136px
$space-35: 35rem; // 140px
$space-36: 36rem; // 144px
$space-37: 37rem; // 148px
$space-38: 38rem; // 152px
$space-39: 39rem; // 156px
$space-40: 40rem; // 160px

// Primitives - Typography Sizes
$text-1: 1rem; // 4px
$text-2: 2rem; // 8px
$text-3: 3rem; // 12px
$text-3-5: 3.5rem; // 14px
$text-4: 4rem; // 16px
$text-5: 5rem; // 20px
$text-6: 6rem; // 24px
$text-7: 7rem; // 28px
$text-8: 8rem; // 32px
$text-9: 9rem; // 36px
$text-10: 10rem; // 40px
$text-11: 11rem; // 44px
$text-12: 12rem; // 48px
$text-13: 13rem; // 52px
$text-14: 14rem; // 56px
$text-15: 15rem; // 60px
$text-16: 16rem; // 64px
$text-17: 17rem; // 68px
$text-18: 18rem; // 72px
$text-19: 19rem; // 76px
$text-20: 20rem; // 80px
$text-21: 21rem; // 84px
$text-22: 22rem; // 88px
$text-23: 23rem; // 92px
$text-24: 24rem; // 96px
$text-25: 25rem; // 100px

// Primitives -  Borders
$line-0-5: 0.5px; // 0.5px
$line-1: 1px; // 1px
$line-1-5: 1.5px; // 1.5px
$line-2: 2px; // 2px
$line-2-5: 2.5px; // 2.5px
$line-3: 3px; // 3px

// Primitives - Radius
$radius-1: 0.5rem; // 2px
$radius-2: 1rem; // 4px
