@use 'primitives' as primitives;

// gap
$gap-text-line: primitives.$space-1;
$gap-nav-links: primitives.$space-3;
$gap-cards-items: primitives.$space-5;

// component
$component-padding-x: primitives.$space-5;
$component-padding-y: primitives.$space-3;
$component-padding-panel: primitives.$space-6;

// layout
$layout-padding-compact: primitives.$space-6;
$layout-padding-default: primitives.$space-10;
$layout-padding-mobile: primitives.$space-4;
$layout-section-gap: primitives.$space-20;
