@use 'primitives';

// BG
$color-bg-abyss: primitives.$color-darkblue;
$color-bg-surface: primitives.$color-darkblue-opaque-75;

// border
$color-border-mat: primitives.$color-white-opaque-5;
$color-border-grid: primitives.$color-white-opaque-10;
$color-border-blueprint: primitives.$color-white-opaque-50;
$color-border-focus: primitives.$color-blue-400;

// feedback
$color-feedback-disaster: primitives.$color-red-500;
$color-feedback-disaster-hover: primitives.$color-red-400;
$color-feedback-disaster-bg: primitives.$color-darkred-opaque-25;
$color-feedback-sketchy: primitives.$color-blue-300;
$color-feedback-stable: primitives.$color-blue-500;

// text
$color-text-pure: primitives.$color-white;
$color-text-default: primitives.$color-gray-800;
$color-text-muted: primitives.$color-gray-400;
$color-text-dead: primitives.$color-gray-200;
